<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{http://cdn.staticfile.org/twitter-bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{http://cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css}"/>
</head>

<body>
    <h1>Error Handler</h1>
    <div th:text="${res.retData}"></div>
    <div th:text="${res.retMsg}"></div>

    <script th:src="@{http://cdn.staticfile.org/jquery/2.2.1/jquery.min.js}"></script>
</body>
</html>