<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="loginAccount">  

	
	<select id="countByLoginAccount" resultType="int">
		select count(id) from login_account where account_name = #{accountName}
	</select>
	
	<select id="findUserByCriteria" resultType="loginAccount">
		select * from login_account
	</select>
	
</mapper>  