<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="blog/default/header :: header" th:with="titleName=首页" />

<body>
<div th:include="blog/default/nav :: nav" />
<!-- News -->
<div class="container">
    <div class="row">
        <!-- <div class="col-md-1">
        </div> -->
        <div class="col-md-9">
            <div class="row" id="_news_content">
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <!-- 1 -->
            <div class="team-text col-md-12 default-summary-custom">
                <img th:src="@{/logo/head.ico}" />
                <div class="default-detail-custom">
                    <h3>Ken</h3>
                    <p>The most difficult thing is the decision to act. The rest is merely tenacity.</p>
                    <p>
                    <div class="vcard-stats">
                        <a class="vcard-stat" href="/articles">
                            <strong id="_articlesCount" class="vcard-stat-count">0</strong>
                            <span class="text-muted">Articles</span>
                        </a>
                        <a class="vcard-stat" href="/subjects">
                            <strong id="_subjectsCount" class="vcard-stat-count">0</strong>
                            <span class="text-muted">FQ</span>
                        </a>
                        <!--<a class="vcard-stat">
                            <strong id="_days" class="vcard-stat-count">0</strong>
                            <span class="text-muted">Days</span>
                        </a>-->
                    </div>
                    </p>
                    <div class="social-links default-links-custom">
                        <a class="github" href="https://github.com/KenKwan" target="_blank"></a>
                        <a class="linkedin" href=""></a>
                        <a class="email" href=""></a>
                        <a class="rss" href=""></a>
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="team-text col-md-12 default-summary-custom">
                <div class="default-detail-custom">
                    <div class="page-title">
                        <div class="col-md-12 article-tag-span-custom">
                            <i class="icon-tags"></i>
                            <h4>Tags </h4>
                            <!-- <p>Here is all the tags</p> -->
                        </div>
                    </div>
                    <div id="_tagsCloud"></div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-1"></div> -->
    </div>
</div>
<!-- blank -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>

<footer th:include="blog/default/footer :: copy"></footer>
<script th:src="@{/js/default/blog.js}"></script>
<script th:src="@{/js/default/default.js}"></script>

</body>
</html>