<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">   
<mapper namespace="statistics">  
	
	<insert id="addArticle" parameterType="article" useGeneratedKeys="true" keyProperty="articleId">
		insert into article 
			(
				title,
				detial,
				detialPic,
				classify,
				createDate,
				author,
				content,
				lastUpdDate,
				mender
			) 
			values (
				#{title},
				#{detial},
				#{detialPic},
				#{classify},
				#{createDate},
				#{author},
				#{content},
				#{lastUpdDate},
				#{mender}
			)
	</insert>
	
	<update id="updateArticle" parameterType="article">
		update article 
			<set>
				<if test="title != null &amp; title != ''">
					title = #{title},
				</if>
				<if test="detial != null &amp; detial != ''">
					detial = #{detial},
				</if>
				<if test="detialPic != null &amp; detialPic != ''">
					detialPic = #{detialPic},
				</if>
				<if test="classify != null &amp; classify != ''">
					classify = #{classify},
				</if>
				<if test="createDate != null &amp; createDate != ''">
					createDate = #{createDate},
				</if>
				<if test="author != null &amp; author != ''">
					author = #{author},
				</if>
				<if test="content != null &amp; content != ''">
					content = #{content},
				</if>
				<if test="lastUpdDate != null &amp; lastUpdDate != ''">
					lastUpdDate = #{lastUpdDate},
				</if>
				<if test="mender != null &amp; mender != ''">
					mender = #{mender}
				</if>
			</set>
		where articleId = #{articleId}
	</update>
	
	<select id="findArticlesByCriteria" resultType="article">
		select * from article
	</select>
	
</mapper>  